* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 20px;
  background-color: #333;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABIFJREFUeNrEWk1rGzEQXWuX0prQECcQYjAUFvbqs3NMfnz+QyDXQiBpaA+hPRhXMpIrT97MPKXQGhRJu/pYab7ezCR0XTfFMu52u67Uso2eyffyXS7zUpy1Fi37yu9NdYh/tqk1m83GUst26aP3pY4LPtTjUj/Xr6nIder58f232F7I57Itf2WP0ums27AooFBBXUPeYtVe5DIiqmscc7QGsQk8gEdu60OsD9P6HqsNFukACzxIFkLklqxRsdmDfK6tZY0F8/qOEeh86ncpBUtANXZkuaD+tllulN9LOnA+9YsmbPJ20Lj6eRmPFAKaV1MRUVb292uIU5/l9hkrtJ5MaVRA81hKozlB3MaLvBlNBSP50W5ZzOkR5czbBnIi5WWQgxHroPdoPCnMW+WA1iVM8d09EvoyZtD42vpAjRKIly3+1+aAfbcOlf/Ykc1ms8x8t9JkwtIyjC1h+b5x3aRNp4OM3N3dfapPe3t7e2ppLUQVC+oUG6TxvaatCHu13Rfl5CtPk7BwhrEpFvRpmMcZtKp9zn50CxtphxDrn5UC5vE3lNvn5UCsTHgHYICrZ+c6dtP4+5zrj7Gc5vbSA4kWSs7lKj+/sgQbUOboICHpaM0wKbr+Zyzfc/sro16lahXteV5/7sGd5+fnkN8tkCmgoHuhSqFMTRHvFhlgKN5N3lpyz8GD4B5I1CwtMnCmQTMQBeIUqfIHyxojy2v5Ih4CljbFWLeGMX0NTxT27wNaqPU25AfWxk+TO+25IqOTBuVLO8gbQrcshUpujCy2FzBg9spj95a7nodYubNwFfLEEiZjBbcea6lgw8eZNNUux82KeWc8MVYONLnQ5mqs7cjRkQgEJn6E5ODm5uY1CZkXB5P2RMqPxqZWfAvKLAshvBAQG/ph3NtGZHAc1/JCoP8RKI7MmJDJNrf8AOm/a2TXQqKIHbwoDFLp6dn19fVS04QjCjJ70T4POnhxMgcKja1RSai1LPCoxagYO+FpJU97WXZpYDZiLHyttTQoAVhvqrMB1fheBhyYgB9kh6enpwC1A6kEPEPGuMG1QfTYc5YbEN16lPHCqchHsVC0pyjMb9mfxrCYbDxX28zSVkZ0XVr9y9h/THXsniAEERi44IHKFtVqwXkUuMv9x7rWZG782+wU4m3P8jNF7HlpqfmAgtUSMkuojqC7YIt7Vp03tE+kRnwTMm1JtVlazDNujS7D2OIyBAbtahESLdvLQBwme5vCuEg20b4H9fuv/AZrfS0LYM19k0Ns/WcBFp6zGeDGtPgkFUpgsrmpXq/XvzS1ivIbKPiA1KyFnFFkv4qybOu1BtZlVUlahW8AS6zys1XsfrCsuZX08VLXB1dXE1SN56ubvc+qtrdQQXSLf2hC68mBlsc0XV0mD86ESKdpWuX+qhTWO2RVOtjf99M9J6fV1fWUxXuSSoFJcWkyY+EsLTuLWNBLuKJnUs6CyBteXVxcfDHy2n0JASH5QTZF8PwWpRs8h83735RDEFsTbMZAeinp6gK6ojKJ8Z2kuob5yrzfAgwASaYfY2UgQSYAAAAASUVORK5CYII=);
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
}

@font-face {
  font-family: 'LetsGoDigitalRegular';
  src: url('../font/7barSPBd.TTF') format('truetype');
}

.time {
  vertical-align: middle;
  text-align: center;
  width: 300px;
  background-color: #000;
  font-size: 46pt;
  color: #ddd;
  line-height: 42px;
  font-family: 'LetsGoDigitalRegular';
  text-shadow: 0 0 5px #fff;
}

.section {
  position: relative;
  padding-left: 5px;
  margin-bottom: 14px;
  color: #999;
  font-size: 10pt;
  font-weight: bold;
}
.section:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0;
  border-top: solid 1px #000;
  border-bottom: solid 1px #3f3f3f;
  z-index: -1;
}

/*
 * Button
 */
.button {
  box-sizing: border-box;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1),
              0 1px 1px 0 rgba(255, 255, 255, 0.3) inset,
              0 0 0 50px rgba(255, 255, 255, .1) inset;
  border-radius: 5px;
  display: block;
  width: 75px;
  height: 75px;

  /*padding-top: 26px;*/
  line-height: 75px;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}
.button:before {
  content: ' ';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 63px;
  height: 63px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 3px;

  z-index: -2;
}
.button:after {
  position: absolute;
  left: 6px;
  top: 6px;
  height: 63px;
  width: 63px;
  background: linear-gradient(rgba(0, 0, 0, .15), rgba(200, 200, 200, .15));
  content: " ";
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, .8);
  z-index: -1;
}
.button.red {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1),
              0 1px 1px 0 rgba(255, 255, 255, 0.3) inset,
              0 0 0 50px rgba(255, 255, 255, .1) inset,
              0 0 30px 0 red,
              0 0 30px 5px red inset;
}
.button.red:before {
  background-color: rgba(255, 150, 150, .7);
}
.button.green {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1),
              0 1px 1px 0 rgba(255, 255, 255, 0.3) inset,
              0 0 0 50px rgba(255, 255, 255, .1) inset,
              0 0 30px 0 green,
              0 0 30px 5px green inset;
}
.button.green:before {
  background-color: rgba(150, 255, 150, .7);
}
.button.yellow {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1),
              0 1px 1px 0 rgba(255, 255, 255, 0.3) inset,
              0 0 0 50px rgba(255, 255, 255, .1) inset,
              0 0 30px 0 rgba(255, 233, 0, 0.8),
              0 0 10px 5px rgb(255, 194, 0) inset,
              0 0 50px 13px rgba(255, 165, 0, 0.7) inset;
}
.button.yellow:before {
  background-color: rgba(255, 255, 150, .7);
}

.button:active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1),
              0 1px 1px 0 rgba(255, 255, 255, 0.3) inset,
              0 0 0 50px rgba(255, 255, 255, .1) inset,
              0 0 10px 10px rgba(0, 0, 0, .5) inset;
}
.button:active:before {
  background-color: rgba(150, 150, 150, .7);
}
.button:active:after {
  left: 8px;
  top: 8px;
  height: 59px;
  width: 59px;
}

/*
 * Slider
 */
.sliders {
  position: relative;
  width: 300px;
  height: 75px;
  margin-top: 6px;
}
.sliders:before {
  content: ' ';
  position: absolute;
  top: 32px;
  width: 100%;
  height: 5px;
  background-color: #030303;
  z-index: -2;
}
.sliders:after {
  content: ' ';
  position: absolute;
  top: 28px;
  width: 100%;
  height: 13px;
  background-color: #444;
  border-radius: 5px;
  z-index: -3;
}
.slider {
  position: relative;
  margin-left: -17px;
  /*margin-top: 2px;*/
  /*margin-bottom: 10px;*/
  width: 35px;
  height: 70px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to right, #a7a5a8 0%, #aba9ac 15%, #ededed 30%, #7a7a7e 74%, #7a7a7e 75%, #6d6d6f 100%);
}
.slider:before {
  content: ' ';
  position: absolute;
  top: 33px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #030303 0%, #5e5957 40%, #55514f 45%, #1e1c1b 50%, #030303 70%, #474a4d 75%, #353332 90%, #040404 100%);
  z-index: 1;
}
.slider:after {
  content: ' ';
  position: absolute;
  top: -4px;
  width: 100%;
  height: 78px;
  border-radius: 13px;
  background: linear-gradient(to right, #818081 0%, #b2adad 40%, #a09d9d 45%, #757679 70%, #75777b 100%);
  box-shadow: #000 1px 1px 10px 0;
  z-index: -1;
}

.channels {
  /*margin-top: 10px;*/
  margin-left: 10px;
}
.channels.after-section:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -5px;
  /*width: ;*/
  /*height: 0;*/
  border-left: solid 1px #000;
  border-right: solid 1px #3f3f3f;
  z-index: -1;
}
.channel {
  display: inline-block;
  /*float: left;*/
}

.meter {
  display: inline-block;
  margin-left: 15px;
}

.slider {
  /*display: inline-block;*/
  /*margin-top: -30px;*/
  /*margin-bottom: -30px;*/
}

.box {
  padding: 10px;
  position: relative;
  border: solid 1px #000;
  border-radius: 10px;
}
.status {
  width: 250px;
}

.box .title {
  margin: -10px -10px 10px -10px;
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
  /*position: relative;*/
  /*top: -10px;*/
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: #000;
  color: #ddd;
  line-height: 30px;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
}

.status .part {
  height: 24px;
  margin-left: 26px;
  margin-bottom: -24px;
  font-size: 10pt;
  color: #fff;
  line-height: 28px;
}

.status .led {
  left: 110px;
  line-height: 28px;
}

.led {
  position: relative;
  margin-left: 40px;
  font-size: 10pt;
  color: #fff;
}

.led.green:before {
  content: ' ';
  position: absolute;
  top: 7px;
  left: -25px;
  /*margin: 20px auto;*/
  width: 12px;
  height: 12px;
  background-color: rgb(6, 228, 0);
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.after-clear:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.inline {
  display: inline-block;
}

.row {
  display: table-row;
  border-spacing: 0;
}
.cell {
  display: table-cell;
  vertical-align: top;
}

table, td, th {
  border-spacing: 20px 20px;
  border: none;
  vertical-align: top;
}
